/* bootstrap overwrites */

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.nav {
  display: block;
  list-style: none;
}

.nav-item {
  display: block;
  list-style: none;
  float: left;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: black;
  font-weight: bold;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: none; /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

/* Layout */

header{
  height: 40px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

header .nav-link .fa {
  margin-left: 5px;
}

#content {
  padding-top: 10px;
  border-left-color: #000000;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  border-right-width: 1px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100;Grey+Flat */
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

#content a {
  color: #28a745;
  font-weight: bold;
}

#content a:hover {
  color: #19672b;
}

/* Components */

#content .content--loading,
#content .content--error {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

#content .content--error h1 .fa {
  margin-right: 10px;
  color: #721c24;
}

#content h1.logo {
  text-align: center;
  margin: 20px auto;
}

#content h1.logo img {
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: auto;
}

/* Home Page */

#content #home form #formUserName {
  text-align: center;
}

#content #home form #formUserNameSubmit {
  width: 100%;
  text-transform: uppercase;
}

/* About Page */

.content-transition-appear {
  opacity: 0.01;
}

.content-transition-appear.content-transition-appear-active {
  opacity: 1;
  transition: opacity .75s ease-in;
}

#content ul.original-contributors {
  list-style-type: none;
}

#content ul.original-contributors li img {
  height: auto;
  width: 100px;
  border-radius: 100px;
  float: left;
  margin-right: 20px;
}

#content ul.original-contributors li .name {
  font-size: 20px;
  font-weight: bold;
}

#content ul.original-contributors li a i {
  font-size: 40px;
  margin-top: 10px;
  margin-right: 10px;
}

#content i.fa.big {
  font-size: 80px;
  color: #28a745;
  margin: 20px;
}

/* Games Page */

#content #user,
#content #users,
#content #chat {
  margin-bottom: 20px;
}

#content #user .image {
  margin-bottom: 20px;
  text-align: center;
}

#content #user .image img {
  height: auto;
  max-width: 70px;
  border-radius: 100%;
  border: 1px #CCCCCC solid;
}

#content #user .name {
  text-align: center;
}

#content #user .name h2 {
  font-size: 1.6rem;
  position: relative;
  padding: 5px;
  display: block;
  border-radius: 10px;
  border: 1px #CCCCCC solid;
}

#content #user .name h2:hover {
  background: #DDDDDD;
  cursor: pointer;
}

#content #user .name h2 i.status--online {
  position: absolute;
  top: 13.3px;
  left: 8px;
  color: #28a745;
  font-size: 1rem;
}

#content #user .name h2 i.status--online:hover {
  color: #28a745;
}

#content #user .name h2 i.edit {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #666666;
}

#content #user .name h2 i:hover {
  color: #666666;
}

#content #user .name .form-group {
  margin-bottom: 0px;
}

#content #user .name .form-group input {
  width: 100%;
  text-align: center;
  font-size: 1.42rem;
}
